img {
    max-width: 100%;
    user-select: none;
    pointer-events: none;
}
.task__container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px solid gray;
    transition: 10s ease-in-out;
}
.task__container:hover {
    .cloud-left, .cloud-right {
        opacity: 1;
        animation: cloud-move 10s linear forwards infinite;
    }
    .chill-stay {
        opacity: 1;
    }
}
.task__wrapper {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}
.elka {
    position: absolute;
    width: 65%;
    bottom: 10%;
    transition: 0.4s ease-in;
}
.elka:hover {
    animation: elka-move 1s linear infinite forwards;
}
.fox-stay {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: -4%;
}
.fox-runner {
    position: absolute;
    width: 27%;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 1s ease-in-out, opacity 0.2s ease-in-out;
    offset-distance: 0;
    offset-rotate: 0deg;
    offset-path: path('m 26 24 c -123 -28 124 -22 -35 -45 c -102 -29 131 -17 -72 -54');
}
.task__container:active {
    animation: flex-move 1s linear infinite forwards;

    .fox-stay {
        opacity: 0;
    }
    .fox-runner {
        transition: 5s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 1;
        offset-distance: 100%;
        width: 7%;
    }
    .chill-stay {
        opacity: 0;
    }
    .chill-out {
        opacity: 1;
    }
}

.cloud-left {
    position: absolute;
    width: 31%;
    top: 3%;
    left: 8%;
    opacity: 0;
    transition: .2s ease-in-out;
}
.cloud-right {
    position: absolute;
    width: 40%;
    top: 10%;
    right: 5%;
    opacity: 0;
    transition: .2s ease-in-out;
}

.chill-stay {
    position: absolute;
    font-size: 0.7em;
    top: 30%;
    right: 10%;
    color: #ff4900;
    opacity: 0;
    transition: .3s ease-in-out;
}
.chill-out {
    position: absolute;
    font-size: 0.8em;
    top: 27%;
    left: 5%;
    transform: rotate(-30deg);
    opacity: 0;
    transition: .3s ease-in-out;
    color: #ff4900;
    width: 15%;
    
}

@keyframes cloud-move {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(10%);
    }
    80% {
        transform: translateX(-10%);

    }
}

@keyframes elka-move {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes flex-move {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1%);
    }
    75% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0);
    }
}